<div class="card">
  <div class="card-header d-flex justify-content-between">
    <div class="iq-header-title">
      <h4 class="card-title">Change Password</h4>
    </div>
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="cpass" class="form-label">Current Password:</label>
        <a href="#" class="float-end">Forgot Password</a>
        <input type="Password" class="form-control" id="cpass" value="">
      </div>
      <div class="form-group">
        <label for="npass" class="form-label">New Password:</label>
        <input type="Password" class="form-control" id="npass" value="">
      </div>
      <div class="form-group">
        <label for="vpass" class="form-label">Verify Password:</label>
        <input type="Password" class="form-control" id="vpass" value="">
      </div>
      <button type="submit" class="btn btn-primary me-2">Submit</button>
      <button type="reset" class="btn bg-soft-danger">Cancle</button>
    </form>
  </div>
</div>
