<div class="card-header d-flex justify-content-between">
  <div class="header-title">
    <h4 class="card-title">Photos</h4>
  </div>
  <div class="card-header-toolbar d-flex align-items-center">
    <p class="m-0"><a href="javacsript:void();">Add Photo </a></p>
  </div>
</div>
<div class="card-body">
  <ul class="profile-img-gallary p-0 m-0 list-unstyled">
    <li class=""><a ><img alt="gallary-image" class="img-fluid" src="assets/images/page-img/g1.jpg"/></a></li>
    <li class=""><a ><img alt="gallary-image" class="img-fluid" src="assets/images/page-img/g2.jpg"/></a></li>
    <li class=""><a ><img alt="gallary-image" class="img-fluid" src="assets/images/page-img/g3.jpg"/></a></li>
    <li class=""><a ><img alt="gallary-image" class="img-fluid" src="assets/images/page-img/g4.jpg"/></a></li>
    <li class=""><a ><img alt="gallary-image" class="img-fluid" src="assets/images/page-img/g5.jpg"/></a></li>
    <li class=""><a ><img alt="gallary-image" class="img-fluid" src="assets/images/page-img/g6.jpg"/></a></li>
    <li class=""><a ><img alt="gallary-image" class="img-fluid" src="assets/images/page-img/g7.jpg"/></a></li>
    <li class=""><a ><img alt="gallary-image" class="img-fluid" src="assets/images/page-img/g8.jpg"/></a></li>
    <li class=""><a ><img alt="gallary-image" class="img-fluid" src="assets/images/page-img/g9.jpg"/></a></li>
  </ul>
</div>

