<div id="content-page" class="content-page">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Friend Request</h4>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="request-list list-inline m-0 p-0">
                        <app-friend-request-card
                          *ngFor="let friend of friendRequests"
                          [request]="friend"
                          (requestHandled)="onRequestHandled($event)"
                        ></app-friend-request-card>
                      </ul>
                </div>
            </div>
            <div class="text-center">
                <a class="btn btn-link" (click)="loadMoreRequests()">View More Requests</a>
            </div>
        </div>
        <app-people-you-may-know></app-people-you-may-know>
    </div>
</div>
</div>
