<div class="post-item">
  <div class="user-post-data py-3">
    <div class="d-flex  justify-content-between">
      <div class="me-3">
        <img [src]="post.userImg" alt="" class="rounded-circle  avatar-60">
      </div>
      <div class="w-100">
        <div class="d-flex justify-content-between">
          <div class="">
            <h5 class="mb-0 d-inline-block me-1">
              <a class="" href="#">{{ post.userName }}</a>
            </h5>
            <p class="mb-0 d-inline-block">Share Anna Mull's Post</p>
            <p class="mb-0">{{ post.postTime }}</p>
          </div>
          <div class="card-post-toolbar">
            <div class="dropdown">
                                                   <span aria-expanded="false" aria-haspopup="true"
                                                         class="dropdown-toggle" data-bs-toggle="dropdown"
                                                         role="button">
                                                   <i class="ri-more-fill"></i>
                                                   </span>
              <div class="dropdown-menu m-0 p-0">
                <a class="dropdown-item p-3" href="#">
                  <div class="d-flex align-items-top">
                    <i class="ri-save-line h4"></i>
                    <div class="data ms-2">
                      <h6>Save Post</h6>
                      <p class="mb-0">Add this to your saved items</p>
                    </div>
                  </div>
                </a>
                <a class="dropdown-item p-3" href="#">
                  <div class="d-flex align-items-top">
                    <i class="ri-pencil-line h4"></i>
                    <div class="data ms-2">
                      <h6>Edit Post</h6>
                      <p class="mb-0">Update your post and saved items</p>
                    </div>
                  </div>
                </a>
                <a class="dropdown-item p-3" href="#">
                  <div class="d-flex align-items-top">
                    <i class="ri-close-circle-line h4"></i>
                    <div class="data ms-2">
                      <h6>Hide From Timeline</h6>
                      <p class="mb-0">See fewer posts like this.</p>
                    </div>
                  </div>
                </a>
                <a class="dropdown-item p-3" href="#">
                  <div class="d-flex align-items-top">
                    <i class="ri-delete-bin-7-line h4"></i>
                    <div class="data ms-2">
                      <h6>Delete</h6>
                      <p class="mb-0">Remove thids Post on Timeline</p>
                    </div>
                  </div>
                </a>
                <a class="dropdown-item p-3" href="#">
                  <div class="d-flex align-items-top">
                    <i class="ri-notification-line h4"></i>
                    <div class="data ms-2">
                      <h6>Notifications</h6>
                      <p class="mb-0">Turn on notifications for this post</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="user-post">
    <a href="#"><img [src]="post.postImg" alt="post-image" class="img-fluid w-100"/></a>

  </div>
  <div class="comment-area mt-3">
    <div class="d-flex justify-content-between align-items-center flex-wrap">
      <div class="like-block position-relative d-flex align-items-center">
        <div class="d-flex align-items-center">
          <div class="like-data">
            <div class="dropdown">
                                                   <span aria-expanded="false" aria-haspopup="true"
                                                         class="dropdown-toggle" data-bs-toggle="dropdown"
                                                         role="button">
                                                   <img alt="" class="img-fluid"
                                                        src="../../../assets/images/icon/01.png">
                                                   </span>
              <div class="dropdown-menu py-2">
                <a class="ms-2 me-2" data-bs-placement="top" data-bs-toggle="tooltip" href="#"
                   title="Like"><img alt="" class="img-fluid"
                                     src="../../../assets/images/icon/01.png"></a>
                <a class="me-2" data-bs-placement="top" data-bs-toggle="tooltip" href="#"
                   title="Love"><img alt="" class="img-fluid"
                                     src="../../../assets/images/icon/02.png"></a>
                <a class="me-2" data-bs-placement="top" data-bs-toggle="tooltip" href="#"
                   title="Happy"><img
                  alt="" class="img-fluid" src="../../../assets/images/icon/03.png"></a>
                <a class="me-2" data-bs-placement="top" data-bs-toggle="tooltip" href="#"
                   title="HaHa"><img alt="" class="img-fluid"
                                     src="../../../assets/images/icon/04.png"></a>
                <a class="me-2" data-bs-placement="top" data-bs-toggle="tooltip" href="#"
                   title="Think"><img
                  alt="" class="img-fluid" src="../../../assets/images/icon/05.png"></a>
                <a class="me-2" data-bs-placement="top" data-bs-toggle="tooltip" href="#"
                   title="Sade"><img alt="" class="img-fluid"
                                     src="../../../assets/images/icon/06.png"></a>
                <a class="me-2" data-bs-placement="top" data-bs-toggle="tooltip" href="#"
                   title="Lovely"><img alt="" class="img-fluid"
                                       src="../../../assets/images/icon/07.png"></a>
              </div>
            </div>
          </div>
          <div class="total-like-block ms-2 me-3">
            <div class="dropdown">
              <span aria-expanded="false" aria-haspopup="true"
                    class="dropdown-toggle" data-bs-toggle="dropdown" role="button">
                {{ post.likes }} Likes
              </span>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Max Emum</a>
                <a class="dropdown-item" href="#">Bill Yerds</a>
                <a class="dropdown-item" href="#">Hap E. Birthday</a>
                <a class="dropdown-item" href="#">Tara Misu</a>
                <a class="dropdown-item" href="#">Midge Itz</a>
                <a class="dropdown-item" href="#">Sal Vidge</a>
                <a class="dropdown-item" href="#">Other</a>
              </div>
            </div>
          </div>
        </div>
        <div class="total-comment-block">
          <div class="dropdown">
            <span aria-expanded="false" aria-haspopup="true"
                  class="dropdown-toggle" data-bs-toggle="dropdown" role="button">
              {{ post.comments.length }} Comment
            </span>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Max Emum</a>
              <a class="dropdown-item" href="#">Bill Yerds</a>
              <a class="dropdown-item" href="#">Hap E. Birthday</a>
              <a class="dropdown-item" href="#">Tara Misu</a>
              <a class="dropdown-item" href="#">Midge Itz</a>
              <a class="dropdown-item" href="#">Sal Vidge</a>
              <a class="dropdown-item" href="#">Other</a>
            </div>
          </div>
        </div>
      </div>
      <div class="share-block d-flex align-items-center feather-icon mt-2 mt-md-0">
        <a aria-controls="share-btn" data-bs-target="#share-btn" data-bs-toggle="offcanvas" href="#">
          <i class="ri-share-line"></i>
          <span class="ms-1">{{ post.shares }} Share</span>
        </a>
      </div>
    </div>
    <hr>
    <ul class="post-comments p-0 m-0">
      <li *ngFor="let comment of comments" class="mb-2">
        <app-comment-item [comment]="comment"></app-comment-item>
      </li>
    </ul>
    <form action="javascript:void(0);" class="comment-text d-flex align-items-center mt-3">
      <input class="form-control rounded" placeholder="Enter Your Comment" type="text">
      <div class="comment-attagement d-flex">
        <a href="#"><i class="ri-link me-3"></i></a>
        <a href="#"><i class="ri-user-smile-line me-3"></i></a>
        <a href="#"><i class="ri-camera-line me-3"></i></a>
      </div>
    </form>
  </div>
</div>


