<div *ngIf="message.isMine" class="chat d-flex other-user">
  <div class="chat-user">
    <a class="avatar m-0">
      <img src="../assets/images/user/1.jpg" alt="avatar" class="avatar-35">
    </a>
    <span class="chat-time mt-1">{{ message.time }}</span>
  </div>
  <div class="chat-detail">
    <div class="chat-message">
      <p>{{ message.text }}</p>
    </div>
  </div>
</div>
<div *ngIf="!message.isMine" class="chat chat-left">
  <div class="chat-user">
    <a class="avatar m-0">
      <img src="../assets/images/user/10.jpg" alt="avatar" class="avatar-35">
    </a>
    <span class="chat-time mt-1">{{ message.time }}</span>
  </div>
  <div class="chat-detail">
    <div class="chat-message">
      <p>{{ message.text }}</p>
    </div>
  </div>
</div>
