<div class="card-body" >
  <li class="d-flex align-items-center flex-wrap" *ngIf="!isCurrentUser()">
    <div class="user-img img-fluid flex-shrink-0">
      <img [src]="person.profilePicture" alt="User image" defaultImage="../../assets/images/user/11.jpg" class="rounded-circle avatar-40">
    </div>
    <div class="flex-grow-1 ms-3">
      <h6>{{ ((person.firstName ?? '') + ' ' + (person.lastName ?? '')).trim() || person.username }}</h6>
    </div>
    <div class="d-flex align-items-center mt-2 mt-md-0">
      <a *ngIf="!isFriend && !isPending" class="me-3 btn btn-primary rounded" (click)="addFriend()">
        <i class="ri-user-add-line me-1"></i>Add Friend
      </a>
      <a *ngIf="isPending" class="me-3 btn btn-secondary rounded" disabled>
        <i class="ri-time-line me-1"></i>Pending
      </a>
      <a *ngIf="isFriend" class="me-3 btn btn-danger rounded" (click)="removeFriend()">
        <i class="ri-user-unfollow-line me-1"></i>Unfriend
      </a>
      <a class="btn btn-secondary rounded" (click)="removeSuggestion()">Remove</a>
    </div>
  </li>
</div>