<div class="card">
  <div class="card-body">
    <h2>Friends</h2>
    <div class="friend-list-tab mt-2">
      <ul
        class="nav nav-pills d-flex align-items-center justify-content-left friend-list-items p-0 mb-2"
      >
        <li>
          <a
            class="nav-link active"
            data-bs-toggle="pill"
            href="#pill-all-friends"
            data-bs-target="#all-feinds"
          >All Friends</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            data-bs-toggle="pill"
            href="#pill-recently-add"
            data-bs-target="#recently-add"
          >Recently Added</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            data-bs-toggle="pill"
            href="#pill-closefriends"
            data-bs-target="#closefriends"
          >
            Close friends</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            data-bs-toggle="pill"
            href="#pill-home"
            data-bs-target="#home-town"
          >
            Home/Town</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            data-bs-toggle="pill"
            href="#pill-following"
            data-bs-target="#following"
          >Following</a
          >
        </li>
      </ul>
      <div class="tab-content">
        <div
          class="tab-pane fade active show"
          id="all-friends"
          role="tabpanel"
        >
          <div class="card-body p-0">
            <div class="row">
              <app-friend-item></app-friend-item>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="recently-add"
          role="tabpanel"
        >
          <div class="card-body p-0">
            <div class="row">
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="closefriends"
          role="tabpanel"
        >
          <div class="card-body p-0">
            <div class="row">
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="home-town"
          role="tabpanel"
        >
          <div class="card-body p-0">
            <div class="row">


            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="following"
          role="tabpanel"
        >
          <div class="card-body p-0">
            <div class="row">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
