<div class="card-header d-flex justify-content-between">
  <div class="header-title">
    <h4 class="card-title">Friends</h4>
  </div>
  <div class="card-header-toolbar d-flex align-items-center">
    <p class="m-0"><a href="javacsript:void();">Add New </a></p>
  </div>
</div>
<div class="card-body">
  <ul class="profile-img-gallary p-0 m-0 list-unstyled">
    <li class="">
      <a href="#">
        <img alt="gallary-image" class="img-fluid" src="assets/images/user/05.jpg"/></a>
      <h6 class="mt-2 text-center">Anna Rexia</h6>
    </li>
    <li class="">
      <a href="#"><img alt="gallary-image" class="img-fluid" src="assets/images/user/06.jpg"/></a>
      <h6 class="mt-2 text-center">Tara Zona</h6>
    </li>
    <li class="">
      <a href="#"><img alt="gallary-image" class="img-fluid" src="assets/images/user/07.jpg"/></a>
      <h6 class="mt-2 text-center">Polly Tech</h6>
    </li>
    <li class="">
      <a href="#"><img alt="gallary-image" class="img-fluid" src="assets/images/user/08.jpg"/></a>
      <h6 class="mt-2 text-center">Bill Emia</h6>
    </li>
    <li class="">
      <a href="#"><img alt="gallary-image" class="img-fluid" src="assets/images/user/09.jpg"/></a>
      <h6 class="mt-2 text-center">Moe Fugga</h6>
    </li>
    <li class="">
      <a href="#"><img alt="gallary-image" class="img-fluid" src="assets/images/user/10.jpg"/></a>
      <h6 class="mt-2 text-center">Hal Appeno </h6>
    </li>
    <li class="">
      <a href="#"><img alt="gallary-image" class="img-fluid" src="assets/images/user/07.jpg"/></a>
      <h6 class="mt-2 text-center">Zack Lee</h6>
    </li>
    <li class="">
      <a href="#"><img alt="gallary-image" class="img-fluid" src="assets/images/user/06.jpg"/></a>
      <h6 class="mt-2 text-center">Terry Aki</h6>
    </li>
    <li class="">
      <a href="#"><img alt="gallary-image" class="img-fluid" src="assets/images/user/05.jpg"/></a>
      <h6 class="mt-2 text-center">Greta Life</h6>
    </li>
  </ul>
</div>
