<div class="card-header d-flex justify-content-between">
  <div class="header-title">
    <h4 class="card-title">Friends</h4>
  </div>
  <div class="card-header-toolbar d-flex align-items-center">
    <p class="m-0"><a href="javacsript:void();">Add New </a></p>
  </div>
</div>
<div class="card-body">
  <ul class="profile-img-gallary p-0 m-0 list-unstyled">
    <li class="" *ngFor="let friend of friends" >
      <a>
        <img alt="gallary-image" class="img-fluid" [src]="friend.profilePicture" defaultImage="assets/images/user/11.jpg"/></a>
      <h6 class="mt-2 text-center">{{friend.firstName+" "+friend.lastName}}</h6>
    </li>
  </ul>
</div>
