<li class="nav-item dropdown">
    <a href="#" class="search-toggle   dropdown-toggle" id="notification-drop" data-bs-toggle="dropdown">
      <i class="ri-notification-4-line"></i>
    </a>
    <div class="sub-drop dropdown-menu" aria-labelledby="notification-drop">
      <div class="card shadow-none m-0">
        <div class="card-header d-flex justify-content-between bg-primary">
          <div class="header-title bg-primary">
            <h5 class="mb-0 text-white">All Notifications</h5>
          </div>
          <small class="badge  bg-light text-dark">{{number}}</small>
        </div>
        <div class="card-body p-0">
                <app-notification-item *ngFor="let notification of notifications" [notification]="notification"></app-notification-item>
            </div>
        </div>
    </div>
</li>
