<div class="card-body profile-page p-0">
  <div class="profile-header">
    <div class="position-relative">
      <img
        [src]="userModel?.coverPicture || 'assets/images/page-img/profile-bg1.jpg'"
        alt="profile-bg"
        class="rounded img-fluid"
      />
      <ul
        class="header-nav list-inline d-flex flex-wrap justify-end p-0 m-0"
      >
        <li>
          <a href="#"><i class="ri-pencil-line"></i></a>
        </li>
        <li>
          <a href="#"><i class="ri-settings-4-line"></i></a>
        </li>
      </ul>
    </div>
    <div class="user-detail text-center mb-3">
      <div class="profile-img">
        <img
          [src]="userModel?.profilePicture || 'assets/images/user/user.jpg'"
          alt="profile-img"
          class="avatar-130 img-fluid"
        />
      </div>
      <div class="profile-detail">
        <h3>{{ (userModel?.firstName ?? '') + ' ' + (userModel?.lastName ?? '') || userModel?.username }}</h3>
      </div>
    </div>
    <div
      class="profile-info p-3 d-flex align-items-center justify-content-between position-relative"
    >
      <div class="social-links">
        <ul
          class="social-data-block d-flex align-items-center justify-content-between list-inline p-0 m-0"
        >
          <li class="text-center pe-3">
            <a href="#"
            ><img
              src="assets/images/icon/08.png"
              class="img-fluid rounded"
              alt="facebook"
            /></a>
          </li>
          <li class="text-center pe-3">
            <a href="#"
            ><img
              src="assets/images/icon/09.png"
              class="img-fluid rounded"
              alt="Twitter"
            /></a>
          </li>
          <li class="text-center pe-3">
            <a href="#"
            ><img
              src="assets/images/icon/10.png"
              class="img-fluid rounded"
              alt="Instagram"
            /></a>
          </li>
          <li class="text-center pe-3">
            <a href="#"
            ><img
              src="assets/images/icon/11.png"
              class="img-fluid rounded"
              alt="Google plus"
            /></a>
          </li>
          <li class="text-center pe-3">
            <a href="#"
            ><img
              src="assets/images/icon/12.png"
              class="img-fluid rounded"
              alt="You tube"
            /></a>
          </li>
          <li class="text-center md-pe-3 pe-0">
            <a href="#"
            ><img
              src="assets/images/icon/13.png"
              class="img-fluid rounded"
              alt="linkedin"
            /></a>
          </li>
        </ul>
      </div>
      <div class="social-info">
        <ul
          class="social-data-block d-flex align-items-center justify-content-between list-inline p-0 m-0"
        >

        </ul>
      </div>
    </div>
  </div>
</div>
