<a href="#" class="iq-sub-card">
    <div class="d-flex align-items-center">
        <div class="">
            <img class="avatar-40 rounded" [src]="notification.image" alt="">
        </div>
        <div class="ms-3 w-100">
            <h6 class="mb-0 ">{{ notification.title }}</h6>
            <div class="d-flex justify-content-between align-items-center">
                <p class="mb-0">{{ notification.description }}</p>
                <small class="float-right font-size-12">{{ notification.time }}</small>
            </div>
        </div>
    </div>
</a>