<div class="card">
  <div class="card-header d-flex justify-content-between">
    <div class="header-title">
      <h4 class="card-title">Manage Contact</h4>
    </div>
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="cno"  class="form-label">Contact Number:</label>
        <input type="text" class="form-control" id="cno" value="001 2536 123 458">
      </div>
      <div class="form-group">
        <label for="email"  class="form-label">Email:</label>
        <input type="text" class="form-control" id="email" value="Bnijone@demo.com">
      </div>
      <div class="form-group">
        <label for="url"  class="form-label">Url:</label>
        <input type="text" class="form-control" id="url" value="https://getbootstrap.com">
      </div>
      <button type="submit" class="btn btn-primary me-2">Submit</button>
      <button type="reset" class="btn bg-soft-danger">Cancle</button>
    </form>
  </div>
</div>
