<div *ngIf="recommendations.length > 0" class="card">
    <div class="card-header d-flex justify-content-between">
      <div class="header-title">
        <h4 class="card-title">People You May Know</h4>
      </div>
    </div>
    <div class="card-body">
      <ul class="request-list list-inline m-0 p-0">
      
        <app-person-card 
          *ngFor="let person of recommendations" 
          [person]="person"
          (friendRequestSent)="onFriendRequestSent($event)"
        ></app-person-card>
      </ul>
    </div>
  </div>