<div class="col-lg-12">
  <div class="iq-edit-list-data">
    <div class="tab-content">
      <div class="tab-pane fade active show" id="personal-information" role="tabpanel">
        <app-profile-personal-info></app-profile-personal-info>
      </div>
      <div class="tab-pane fade" id="chang-pwd" role="tabpanel">
        <app-profile-change-password></app-profile-change-password>
      </div>
      <div class="tab-pane fade" id="emailandsms" role="tabpanel">
        <app-profile-edit-email></app-profile-edit-email>
      </div>
      <div class="tab-pane fade" id="manage-contact" role="tabpanel">
        <app-profile-manage-contact></app-profile-manage-contact>
      </div>
    </div>
  </div>
</div>
