<div class="chat-search pt-3 ps-3">
  <div class="d-flex align-items-center">
    <div class="chat-profile me-3">
      <img [src]="currentUser?.profilePicture" [alt]="currentUser?.username" defaultImage="assets/images/user/11.jpg" class="avatar-60">
    </div>
    <div class="chat-caption">
      <h5 class="mb-0">{{ currentUser?.username }}</h5>
      <p class="m-0">{{ currentUser?.url }}</p>
    </div>
  </div>
</div>
<div class="chat-sidebar-channel scroller mt-4 ps-3">
  <h5 class="mt-3">Direct Message</h5>
  <ul class="iq-chat-ui nav flex-column nav-pills">
    <li *ngFor="let user of directMessages; trackBy:trackByFn">
      <a data-bs-toggle="pill" (click)="selectUser(user.username)">
        <div class="d-flex align-items-center">
          <div class="avatar me-2">
            <img [src]="user.profilePicture" [alt]="user.username" defaultImage="assets/images/user/11.jpg" class="avatar-50">
            <span class="avatar-status">
              <i class="ri-checkbox-blank-circle-fill"
                  [ngClass]="user.status ? getStatusClass(user.status) : ''"
              ></i>
            </span>
          </div>
          <div class="chat-sidebar-name">
            <h6 class="mb-0">{{ user.username }}</h6>
            <span>{{ user.url }}</span>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
