
<body class=" ">
<!-- loader Start -->

<!-- loader END -->

<div class="wrapper">
  <section class="sign-in-page">
    <div id="container-inside">
      <div id="circle-small"></div>
      <div id="circle-medium"></div>
      <div id="circle-large"></div>
      <div id="circle-xlarge"></div>
      <div id="circle-xxlarge"></div>
    </div>
    <div class="container p-0">
      <div class="row no-gutters">
        <div class="col-md-6 text-center pt-5">
          <div class="sign-in-detail text-white">
            <a class="sign-in-logo mb-5" href="#"><img src="assets/images/logo-full.png" class="img-fluid" alt="logo"></a>
            <div class="sign-slider overflow-hidden ">
              <ul  class="swiper-wrapper list-inline m-0 p-0 ">
                <li class="swiper-slide">
                  <img src="assets/images/login/1.png" class="img-fluid mb-4" alt="logo">
                  <h4 class="mb-1 text-white">Find new friends</h4>
                  <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                </li>
                <li class="swiper-slide">
                  <img src="assets/images/login/2.png" class="img-fluid mb-4" alt="logo">
                  <h4 class="mb-1 text-white">Connect with the world</h4>
                  <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                </li>
                <li class="swiper-slide">
                  <img src="assets/images/login/3.png" class="img-fluid mb-4" alt="logo">
                  <h4 class="mb-1 text-white">Create new events</h4>
                  <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 bg-white pt-5 pt-5 pb-lg-0 pb-5">
          <div class="sign-in-from">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>



</body>

