<div class="right-sidebar-mini right-sidebar">
  <div class="right-sidebar-panel p-0">
    <div class="card shadow-none">
      <div class="card-body p-0">
        <div class="media-height p-3" data-scrollbar="init">
          <div *ngFor="let friend of friends">
            <app-friend-status [friend]="friend"></app-friend-status>
          </div>
        </div>
        <div class="right-sidebar-toggle bg-primary text-white mt-3">
          <i class="ri-arrow-left-line side-left-icon"></i>
          <i class="ri-arrow-right-line side-right-icon"><span class="ms-3 d-inline-block">Close Menu</span></i>
        </div>
      </div>
    </div>
  </div>
</div>
