<div class="chat-head">
  <header class="d-flex justify-content-between align-items-center bg-white pt-3 ps-3 pe-3 pb-3">
    <div class="d-flex align-items-center">
      <div class="sidebar-toggle">
        <i class="ri-menu-3-line"></i>
      </div>
      <div class="avatar chat-user-profile m-0 me-3">
        <img src="../assets/images/user/10.jpg" alt="avatar" class="avatar-50">
        <span class="avatar-status"><i class="ri-checkbox-blank-circle-fill text-success"></i></span>
      </div>
      <h5 class="mb-0">Paul Molive</h5>
    </div>
  </header>
</div>
